myst-nb>=1.0.0
myst-parser>=4.0.0
nbclient
nbformat
Sphinx>=7.2.6  # for stable version with myst?
sphinx-copybutton
sphinx-design
sphinx-markdown-tables
sphinx-rtd-theme
sphinxcontrib-youtube==1.4.1
